$type-scale: (
    base: (
        200: 0.875rem,
        300: 1rem,
        400: 0.9375rem,
        500: 1rem,
        600: 1.25rem,
        700: 1.5rem,
        800: 2.5rem,
        900: clamp(5rem, 8vw + 1rem, 9.375rem),
    ),

    sm: (
        400: 1rem,
        500: 1.25rem,
        600: 1.5rem,
        700: 1.75rem,
        800: 2.5rem,
        900: 3rem,
    ),

    md: (
        400: 1.125rem,
        500: 1.375rem,
        600: 1.75rem,
        700: 2rem,
        800: 2.75rem,
        900: 3.375rem,
    ),
);