/.build
/.env
/node_modules/
access_log
error_log

/public/media/
!/public/media/.redaxo
/public/resources/css/*.css

/var/cache/*
!/var/cache/.*

/var/data/addons/*
!/var/data/addons/mblock/*
!/var/data/addons/mform/*
!/var/data/addons/ydeploy/*
/var/data/core/*
