/.build
/.env
/node_modules/

/public/assets/fonts
/public/assets/images
/public/assets/scripts
/public/assets/styles
/public/assets/svgs

/public/media/*
!/public/media/.redaxo

/var/cache/*
!/var/cache/.*

/var/data/addons/*/*
!/var/data/addons/mblock/*
!/var/data/addons/mform/*
!/var/data/addons/ydeploy/*
/var/data/core/*
