html,
a[href^="tel"],
.card-linked {
    color: yak-color('default', 'darkest');
}

a {
    color: yak-color('primary');

    &:hover {
        color: yak-color('primary', 'lighter');
        text-decoration: underline;
    }
}

a, button {
    transition: $transition-base;
}

 > svg {
    fill: currentColor;
 }

.card-linked:hover {
    text-decoration: none;
}
