@charset "utf-8";

fieldset {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}

legend {
    margin-bottom: vr(.5);
    padding: 0;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: vr(.25);
    @include fw('primary', 700);
}

input,
select,
textarea {
    display: block;
    color: yak-color("primary");
    @include ff('primary');
    @include typi('init');
}

#{$all-text-inputs} {
    appearance: none;
    width: 100%;
    //margin-bottom: vr(1);
    padding: vr(.375) vr(.25);
    background-color: yak-color('default', 'lightest');
    @include yak-border(yak-color('default', 'lightest'));
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    transition: border-color $transition-duration $transition-timing;

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:disabled {
        background-color: yak-color('default', 'lighter');
        cursor: not-allowed;

        &:hover {
            //border: $form-border;
        }
    }

    &::placeholder {
        color: yak-color('default', 'dark');
        @include fw('primary', 500);
    }
}

textarea {
    resize: vertical;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: vr(.25);
}

[type="file"] {
    margin-bottom: vr(.5);
    width: 100%;
}

[type="submit"] {
    padding: vr(.25);
    @include ff(primary);
    @include typi(init);
}

select {
    margin-bottom: vr(.5);
    width: 100%;
}
