@charset "utf-8";

// -----------------------------------------------------------------------------
// Yak - This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
    box-sizing: border-box;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

blockquote, figure,
h1, h2, h3, h4, h5, h6,
hr, li, p, pre {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

ol, ul {
    margin: 0;
    padding-right: 0;
}

a, div, li, section, span, svg {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    padding: 0;
    font-weight: 400;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: $transition-base;
}
a:focus {
    outline: none;
}

figure {
    padding: 0;
}

figure > img {
    display: block;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

button, input, textarea {
    border: 0;
    border-radius: 0;
    outline: none;
    appearance: none;
}

button:active, button:focus, button:hover,
input:active, input:focus, input:hover,
textarea:active, textarea:focus, textarea:hover {
    outline: none;
}

embed, iframe, img, object, video {
    max-width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
}


//
//ul li {
//    margin: 0;
//    padding: 0;
//}
//
//figure, ol {
//    margin: 0;
//    padding: 0;
//}
//
//p {
//    padding: 0;
//}
//
//fieldset {
//    border: none;
//    margin: 0;
//    padding: 0;
//}
//
//button {
//    //-webkit-font-smoothing: none;
//    cursor: pointer;
//}
