* {
    font-variation-settings:
        'wght' var(--font-weight, 375),
        'wdth' var(--font-width, 80);
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: var(--fs-400);
    font-family: var(--ff-normal);
    color: var(--color-neutral-100);
    letter-spacing: -.5px;
}


h1, h2, h3, h4 {
    --font-weight: 700;
    --font-width: 80;
    font-weight: normal;
    font-stretch: 100%;
    line-height: 1.1;
}

h1 {
    --font-weight: 900;
    font-family: var(--ff-display);
    //color: var(--color, var(--color-primary-400));
}

h2 {
    font-family: var(--ff-display);
}

h3 {
    --font-weight: 400;
}

.lead {
    font-family: var(--ff-display);
    text-wrap: balance;
}


// This is setting the font-sizes
// based on the ones in the abstract
// folder, go there to make updates

h1,
.h1 {
    font-size: var(--fs-900);
}

h2,
.h2 {
    --flow-spacer: 1.5em;
    font-size: var(--fs-800);
}
h3,
.h3 {
    --flow-spacer: 1.5em;
    font-size: var(--fs-700);
}

h4,
.h4 {
    font-size: var(--fs-600);
}

h5,
.h5 {
    font-size: var(--fs-500);
}

.lead {
    font-size: var(--fs-600);
}

small,
.text-small {
    font-size: var(--fs-300);
}

strong {
    --font-weight: 500;
    font-weight: normal;
}

a:not([class]) {
    &:hover,
    &:focus {
        color: var(--color-neutral-900);
        text-decoration: none;

        .bg-secondary-900 &,
        .bg-neutral-900 & {
            color: var(--color-primary-400);
        }
    }
}

p:not([class]),
ul:not([class]),
li:not([class]) {
    max-width: 80ch;
}

address {
    font-style: normal;
}