@charset "utf-8";

// Init typi and build html selector
@include typi-init();

html {
    @include ff(primary);
    @include fw(primary, normal);
}

body {
    @include typi('init');
}

h1, h2, h3, h4, h5, h6 {
    @include ff('primary');
    @include fw('primary', 300);
}

body:active {
    //@include baseline-grid();
}

b, strong {
    @include fw('primary', 500);
}

address {
    font-style: normal;
}

blockquote {
    @include typi('init');
    @include ff('primary');
    font-style: italic;
}

/* Init create-typo-classes */
@include yak-create-heading-styles();

.kicker {
    color: yak-color('default', 'dark');
    @include typi(init);
    @include fw('primary', 500);
}

.intro {
    @include typi('l4');
    @include fw('primary', 500);
}

.text-uppercase {
    text-transform: uppercase;
}


.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
