@use "../abstracts" as *;

@each $color, $shade in $colors {
    @each $prop, $value in $shade {
        .text-#{$color}-#{$prop} {
            color: var(--color-#{$color}-#{$prop}) !important;
        }

        .bg-#{$color}-#{$prop} {
            background-color: var(--color-#{$color}-#{$prop}) !important;
        }
    }
}