@mixin sliderNavigation {
    position: relative;
    display: none;
    width: vr(1.5);
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0;
    color: rgba(yak-color('default'), .25);
    font-size: 5.625rem;
    line-height: 1;
    text-align: center;
    transition: $transition-base;

    &:hover {
        color: rgba(yak-color('primary'), .8);
    }

    i, .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include mq($from: watson) {
        display: inline-block;
    }
}
