@charset "utf-8";

@mixin yak-hamburger-spring($hamburger-layer-width, $hamburger-layer-height, $hamburger-layer-spacing) {
    .hamburger {
        &-box {
            position: relative;
            display: inline-block;
            width: $hamburger-layer-width;
            height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
        }

        &-inner {
            &,
            &::before,
            &::after {
                position: absolute;
                width: $hamburger-layer-width;
                height: $hamburger-layer-height;
            }

            & {
                top: $hamburger-layer-height / 2;
                margin-top: $hamburger-layer-height / -2;
                transition: background-color $transition-duration $transition-timing;

                .is-active & {
                    background-color: transparent;
                }
            }
            &::before {
                content: '';
                top: $hamburger-layer-height + $hamburger-layer-spacing;
                transition: $transition-base;

                .is-active & {
                    top: 0;
                    transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(45deg);
                }
            }

            &::after {
                content: '';
                top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
                transition: $transition-base;

                .is-active & {
                    top: 0;
                    transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(-45deg);
                }
            }
        }
    }
}


@mixin yak-hamburger-double-line($hamburger-layer-width, $hamburger-layer-height, $hamburger-layer-spacing) {
    .hamburger {
        cursor: pointer;

        &-box {
            position: relative;
            display: inline-block;
            width: $hamburger-layer-width;
            height: $hamburger-layer-height * 2 + $hamburger-layer-spacing;
        }

        &-inner {
            &::before,
            &::after {
                position: absolute;
                width: $hamburger-layer-width;
                height: $hamburger-layer-height;
            }
            &::before {
                top: 0;
                transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);

                .is-active & {
                    top: 50%;
                    transform: rotate(45deg);
                    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
            }
            &::after {
                bottom: 0;
                transition: bottom 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);

                .is-active & {
                    bottom: 50%;
                    margin-bottom: -$hamburger-layer-height;
                    transform: rotate(-45deg);
                    transition: bottom 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
            }
        }
    }
}
