@mixin yak-caret-down($caret-width: $yak-caret-width) {
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-bottom: 0;
    border-left: $caret-width solid transparent;
}

@mixin yak-caret-up($caret-width: $yak-caret-width) {
    border-top: 0;
    border-right: $caret-width-width solid transparent;
    border-bottom: $caret-width solid;
    border-left: $caret-width solid transparent;
}

@mixin yak-caret-right($caret-width: $yak-caret-width) {
    border-top: $caret-width solid transparent;
    border-right: 0;
    border-bottom: $caret-width solid transparent;
    border-left: $caret-width solid;
}

@mixin yak-caret-left($caret-width: $yak-caret-width) {
    border-top: $caret-width solid transparent;
    border-right: $caret-width solid;
    border-bottom: $caret-width solid transparent;
}

@mixin yak-caret($direction: down, $caret-width: $yak-caret-width) {
    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: $caret-width * .85;
        vertical-align: decimal-round($caret-width * .85, 2, 'floor');
        @if $direction == down {
            @include yak-caret-down($caret-width);
        } @else if $direction == up {
            @include yak-caret-up($caret-width);
        } @else if $direction == right {
            @include yak-caret-right($caret-width);
        }
    }

    @if $direction == left {
        &::after {
            display: none;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            margin-right: $caret-width * .85;
            vertical-align: $caret-width * .85;
            @include yak-caret-left($caret-width);
        }
    }

    &:empty::after {
        margin-left: 0;
    }
}
