@charset "utf-8";

/*doc
---
title: Buttons
name: buttons
category: Components
---
```html_example
<a class="button-primary" href="!#">Primary Button</a>
```
*/
%button {
    display: inline-block;
    outline: 0;
    background-color: transparent;
    border: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    transition: $transition-base;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }

    &.is-disabled {
        pointer-events: none;
        background-color: transparent !important;
        border-color: yak-color('default', 'light') !important;
        //box-shadow: inset 0 0 0 1px color(background, light) !important;
        color: yak-color('default', 'light') !important;
        cursor: default;

        &:hover {
            background-color: transparent !important;
            color: yak-color('default', 'light') !important;
        }
    }
}

%button-circle {
    border-radius: 50%;
}
%button-pill {
    border-radius: 2em;
}
%button-radius {
    border-radius: 0.1875rem;
}


.btn-block {
    display: block;
    text-align: center;
}

.btn {
    &,
    &-primary,
    &-text {
        @extend %button;
        @extend %button-radius;
        padding: 0 1rem;
        @include ff('primary');
        @include fw('primary', 500);
        @include typi('button-base');
    }

    &-primary {
        background: yak-color('primary');
        color: yak-color-contrast('primary');
        text-transform: uppercase;
        //transition: none;

        &:hover, &:active, &:focus,
        &.is-active {
            background: yak-color('primary');
            color: yak-color-contrast('primary');
        }
    }

    &-text {
        text-transform: uppercase;
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--large {
        padding-left: vr(2);
        padding-right: vr(2);
        @include typi('button-large');
    }

    &--small {
        @include typi('button-small');
    }
}
