@use '../abstracts/index' as *;

.card {
    --img-ratio: 3/2;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
        aspect-ratio: var(--img-ratio);
        object-fit: cover;
        width: 100%;
    }

    > :not(figure, picture, img) {
        text-wrap: pretty;
    }
}

.card-list {
    --grid-min: 15ch;
    --flow-spacer: 3vw;

    @include mq(md) {
        --grid-min: 22ch;
    }
}