@charset "utf-8";

.yakicon {
    max-width: rem(20);
    margin-bottom: 2px;
    vertical-align: middle;

    &-left {
        margin-right: .5em;
    }
    &-right {
        margin-left: .5em;
    }
}
