@charset "utf-8";

html, body {
    height: 100%;
}

html {
    background-color: yak-color('default', 'lightest');
}
body {
    margin: 0;
    transition: .2s ease-out;
}

main {
    position: relative;
    width: 100%;
}

.container {
    @include yak-outer-container();
}

.case-indent {
    @include mq($from: watson) {
        @include yak-width(10 of 12);
        @include yak-shift(1 of 12);
    }
}
