.brand {
    flex-grow: 1;
    font-size: 0;

    svg {
        fill: yak-color('primary');
        max-width: 100%;
        vertical-align: top;

        width: map-deep-get($svg-sizes, logo, header, xs, width);
        height: map-deep-get($svg-sizes, logo, header, xs, height);
        transition: $transition-base;

        @include mq($from: sm, $until: lg) {
            width: map-deep-get($svg-sizes, logo, header, sm, width);
            height: map-deep-get($svg-sizes, logo, header, sm, height);

            //.shrink & {
            //    width: map-deep-get($svg-sizes, logo, header-shrink, sm, width);
            //    height: map-deep-get($svg-sizes, logo, header-shrink, sm, height);
            //}
        }

        @include mq($from: lg) {
            width: map-deep-get($svg-sizes, logo, header, lg, width);
            height: map-deep-get($svg-sizes, logo, header, lg, height);

            //.shrink & {
            //    width: map-deep-get($svg-sizes, logo, header-shrink, lg, width);
            //    height: map-deep-get($svg-sizes, logo, header-shrink, lg, height);
            //}
        }

        g {
            fill: yak-color('default', 'darkest');
        }
    }
}

.global-header .brand {
    padding-top: vr(1.375);
    padding-bottom: vr(1.375);

    a {
        display: inline-block;
        color: yak-color('primary');
        transition: $transition-base;

        &:hover {
            opacity: .7;
        }
    }

    svg {
        fill: currentColor;
    }
}
//.global-header.shrink .brand {
//    padding-top: vr(1);
//    padding-bottom: vr(1);
//}
