
.content-section {
    position: relative;

    &[data-section="default"] {
    }

    &[data-section="alternate"] {
        background-color: yak-color('default', 'lighter');
    }
}

.content-container {
    [data-layout="fixed"] & {
        @include yak-outer-container();
        padding-top: vr(2.25);
        padding-bottom: vr(2.25);
    }
    .shrink[data-layout="fixed"] & {
        padding-top: vr(1);
        padding-bottom: vr(1);
    }
    [data-layout="liquid"] & {
        position: relative;
        //overflow: hidden; // raus -> siehe Veranstaltungen page-head
    }

    > * + * {
        margin-top: vr(2);
    }
}
