@charset "utf-8";

.input-group {
    display: flex;

    > .form-control {
        flex: 1;
    }
}

.form-check-group {
    margin-bottom: vr(1);

    @include mq($from: md) {
        @include yak-container();

        > .form-check {
            @include yak-column(6 of 12);
        }
    }
}

// Radio & Checkbox
.form-check,
.form-radio {
    label,
    .help-block {
        padding-left: (1em * 1.75);
    }

    label {
        position: relative;
        display: block;
        cursor: pointer;
        text-align: left;
    }

    input {
        position: absolute;
        left: 0;
        width: auto;
        opacity: 0.00000001;
    }
}

//.radio {
//    margin-bottom: $mf-font-size;
//
//    .helper {
//        position: absolute;
//        top: $mf-radio-margin;
//        left: $mf-radio-margin;
//        cursor: pointer;
//        display: block;
//        font-size: $mf-font-size;
//        user-select: none;
//        color: $mf-border-color;
//
//        &::before,
//        &::after {
//            content: '';
//            position: absolute;
//            left: 0;
//            top: 0;
//            margin: ($mf-spacer * 2);
//            width: $mf-font-size;
//            height: $mf-font-size;
//            transition: transform $mf-transition-speed ease;
//            border-radius: 50%;
//            border: ($mf-font-size / 8) solid currentColor;
//        }
//
//        &::after {
//            transform: scale(0);
//            background-color: $mf-focus-color;
//            border-color: $mf-focus-color;
//        }
//    }
//
//    label:hover .helper {
//        color: $mf-focus-color;
//    }
//
//    // scss-lint:disable QualifyingElement, NestingDepth
//    input:checked {
//        ~ .helper {
//            &::after {
//                transform: scale(0.5);
//            }
//            &::before {
//                color: $mf-focus-color;
//            }
//        }
//    }
//}

.form-captcha {
    img {
        height: 2.375rem;
    }

    &.has-error .help-block {
        margin-top: vr(-1);
        text-align: center;

        .text-warning {
            position: static;
        }
    }
}

.form-check {

    .form-helper {
        position: absolute;
        top: .25em;
        left: 0;
        z-index: 0;
        width: 1em;
        height: 1em;
        border: (1em / 8) solid currentColor;
        border-radius: (1em / 16);
        color: inherit;
        transition: border-color $transition-duration ease;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 0;
            width: (1em * 0.2);
            background-color: yak-color('primary');
            border-radius: (1em / 4);
            transform-origin: left top;
            transition: opacity $transition-duration ease, height 0s linear $transition-duration;
            opacity: 0;
        }

        &::before {
            top: (1em * 0.65);
            left: (1em * 0.38);
            transform: rotate(-135deg);
            box-shadow: 0 0 0 .02em #fff;
        }

        &::after {
            top: (1em * 0.3);
            left: 0;
            transform: rotate(-45deg);
        }
    }

    label:hover .form-helper {
        color: rgba(yak-color('primary'), .8);
    }

    input:checked {
        ~ .form-helper {
            color: yak-color('primary');

            &::after,
            &::before {
                opacity: 1;
                transition: height $transition-duration ease;
            }

            &::after {
                height: (1em / 2);
            }

            &::before {
                height: (1em * 1.2);
                transition-delay: $transition-duration;
            }
        }
    }
}

.form-file {
    position: relative;

    span {
        cursor: pointer;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 0px;
        cursor: pointer;
        opacity: 0;
    }

    &-btn.btn-upload {
        float: left;
        height: 3rem;
        line-height: 3rem;
    }

    &-path-wrapper {
        overflow: hidden;
        padding-left: 10px
    }

    &-path {
        width: 100%;
        height: 3rem;
        background-color: transparent;
        line-height: 3rem;
    }

    .form-check {
        margin-top: vr(-.5);
    }
    .form-notice {
        display: block;
        margin-bottom: vr(.25);
        @include fw(primary, bold);
    }
    .help-block {
        margin-top: vr(-1);
    }
}

.yform {
    font-size: 1rem;

    fieldset + fieldset {
        margin-top: vr(1.5);
    }

    h3,
    legend {
        display: inline-block;
        width: 100%;
        margin-bottom: vr(1.25);
        color: yak-color('primary');
        @include typi('l3');
        @include ff('primary');
        @include fw('primary', 700);
    }
    .form-group {
        margin-bottom: vr(1.5);
    }

    .has-error {
        position: relative;

        .control-label {
            //color: color(secondary);
        }
        .form-control {
            @include yak-border-bottom(yak-color('primary'), .2em);
        }
        .text-warning {
            position: absolute;
            top: 100%;
            display: inline-block;
            width: 100%;
            color: yak-color('primary');
            @include typi('s1');
        }
    }
}

.form-required {
    float: right;
    color: yak-color('default', 'dark');
    @include typi('s1');

    &-sign {
        color: yak-color('alert', 'error');
    }
}
