@charset "utf-8";

@import 'abstracts/variables';
@import 'abstracts/functions/*';
@import 'abstracts/mixins/*';

// 2. Vendors
@import
'../../node_modules/normalize.css/normalize.css',
'../../node_modules/bourbon/core/bourbon',
'../../node_modules/bourbon-neat/core/neat',
'../../node_modules/sass-mq/mq',
'../../node_modules/typi/scss/typi',
'../../node_modules/modularscale-sass/stylesheets/modular-scale';

// 3. Base stuff
@import 'base/*';

// 4. Layout-related sections
@import 'layout/*';

// 5. Components
@import 'components/*';

//@import 'base/fonts';
//@import 'base/reset';
//@import 'base/form';
//@import 'base/typography';


//@import 'layout/grid';
//@import 'layout/header';
//@import 'layout/main';
//@import 'layout/navs';
//@import 'layout/footer';


//@import 'components/alerts';
//@import 'components/buttons';
//@import 'components/carousel';
//@import 'components/collapsible';
//@import 'components/colophon';
//@import 'components/content-items';
//@import 'components/cover';
//@import 'components/dropdown';
//@import 'components/features';
//@import 'components/forms';
//@import 'components/gallery';
//@import 'components/hero-slider';
//@import 'components/lead';
//@import 'components/lead';
//@import 'components/location-finder';
//@import 'components/news-layer';
//@import 'components/notice-card';
//@import 'components/owlcarousel';
//@import 'components/pagehead';
//@import 'components/parallax';
//@import 'components/price_table';
//@import 'components/sketches';
//@import 'components/social';
//@import 'components/tables';
//@import 'components/tiles';
//@import 'components/well';
//@import 'components/yakicons';
//@import 'components/ycom';

//@import 'pages/home';
//@import 'pages/contact';

//@import 'themes/all';
//@import 'themes/theme';
//@import 'themes/admin';
