@charset "utf-8";

// Font files and font-face from
// http://www.localfont.com
// https://google-webfonts-helper.herokuapp.com/fonts

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('#{$font-path}/Poppins-300/Poppins-300.eot');
  src: url('#{$font-path}/Poppins-300/Poppins-300.eot?#iefix') format('embedded-opentype'),
       local('Poppins Light'),
       local('Poppins-300'),
       url('#{$font-path}/Poppins-300/Poppins-300.woff2') format('woff2'),
       url('#{$font-path}/Poppins-300/Poppins-300.woff') format('woff'),
       url('#{$font-path}/Poppins-300/Poppins-300.ttf') format('truetype'),
       url('#{$font-path}/Poppins-300/Poppins-300.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('#{$font-path}/Poppins-regular/Poppins-regular.eot');
  src: url('#{$font-path}/Poppins-regular/Poppins-regular.eot?#iefix') format('embedded-opentype'),
       local('Poppins'),
       local('Poppins-regular'),
       url('#{$font-path}/Poppins-regular/Poppins-regular.woff2') format('woff2'),
       url('#{$font-path}/Poppins-regular/Poppins-regular.woff') format('woff'),
       url('#{$font-path}/Poppins-regular/Poppins-regular.ttf') format('truetype'),
       url('#{$font-path}/Poppins-regular/Poppins-regular.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('#{$font-path}/Poppins-500/Poppins-500.eot');
  src: url('#{$font-path}/Poppins-500/Poppins-500.eot?#iefix') format('embedded-opentype'),
       local('Poppins Medium'),
       local('Poppins-500'),
       url('#{$font-path}/Poppins-500/Poppins-500.woff2') format('woff2'),
       url('#{$font-path}/Poppins-500/Poppins-500.woff') format('woff'),
       url('#{$font-path}/Poppins-500/Poppins-500.ttf') format('truetype'),
       url('#{$font-path}/Poppins-500/Poppins-500.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('#{$font-path}/Poppins-600/Poppins-600.eot');
  src: url('#{$font-path}/Poppins-600/Poppins-600.eot?#iefix') format('embedded-opentype'),
       local('Poppins SemiBold'),
       local('Poppins-600'),
       url('#{$font-path}/Poppins-600/Poppins-600.woff2') format('woff2'),
       url('#{$font-path}/Poppins-600/Poppins-600.woff') format('woff'),
       url('#{$font-path}/Poppins-600/Poppins-600.ttf') format('truetype'),
       url('#{$font-path}/Poppins-600/Poppins-600.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('#{$font-path}/Poppins-700/Poppins-700.eot');
  src: url('#{$font-path}/Poppins-700/Poppins-700.eot?#iefix') format('embedded-opentype'),
       local('Poppins Bold'),
       local('Poppins-700'),
       url('#{$font-path}/Poppins-700/Poppins-700.woff2') format('woff2'),
       url('#{$font-path}/Poppins-700/Poppins-700.woff') format('woff'),
       url('#{$font-path}/Poppins-700/Poppins-700.ttf') format('truetype'),
       url('#{$font-path}/Poppins-700/Poppins-700.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: normal;
  src: url('#{$font-path}/Merriweather-300/Merriweather-300.eot');
  src: url('#{$font-path}/Merriweather-300/Merriweather-300.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Light'),
       local('Merriweather-300'),
       url('#{$font-path}/Merriweather-300/Merriweather-300.woff2') format('woff2'),
       url('#{$font-path}/Merriweather-300/Merriweather-300.woff') format('woff'),
       url('#{$font-path}/Merriweather-300/Merriweather-300.ttf') format('truetype'),
       url('#{$font-path}/Merriweather-300/Merriweather-300.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: normal;
  src: url('#{$font-path}/Merriweather-regular/Merriweather-regular.eot');
  src: url('#{$font-path}/Merriweather-regular/Merriweather-regular.eot?#iefix') format('embedded-opentype'),
       local('Merriweather'),
       local('Merriweather-regular'),
       url('#{$font-path}/Merriweather-regular/Merriweather-regular.woff2') format('woff2'),
       url('#{$font-path}/Merriweather-regular/Merriweather-regular.woff') format('woff'),
       url('#{$font-path}/Merriweather-regular/Merriweather-regular.ttf') format('truetype'),
       url('#{$font-path}/Merriweather-regular/Merriweather-regular.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: normal;
  src: url('#{$font-path}/Merriweather-700/Merriweather-700.eot');
  src: url('#{$font-path}/Merriweather-700/Merriweather-700.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Bold'),
       local('Merriweather-700'),
       url('#{$font-path}/Merriweather-700/Merriweather-700.woff2') format('woff2'),
       url('#{$font-path}/Merriweather-700/Merriweather-700.woff') format('woff'),
       url('#{$font-path}/Merriweather-700/Merriweather-700.ttf') format('truetype'),
       url('#{$font-path}/Merriweather-700/Merriweather-700.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 900;
  font-style: normal;
  src: url('#{$font-path}/Merriweather-900/Merriweather-900.eot');
  src: url('#{$font-path}/Merriweather-900/Merriweather-900.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Black'),
       local('Merriweather-900'),
       url('#{$font-path}/Merriweather-900/Merriweather-900.woff2') format('woff2'),
       url('#{$font-path}/Merriweather-900/Merriweather-900.woff') format('woff'),
       url('#{$font-path}/Merriweather-900/Merriweather-900.ttf') format('truetype'),
       url('#{$font-path}/Merriweather-900/Merriweather-900.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
  src: url('#{$font-path}/Merriweather-300italic/Merriweather-300italic.eot');
  src: url('#{$font-path}/Merriweather-300italic/Merriweather-300italic.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Light Italic'),
       local('Merriweather-300italic'),
       url('#{$font-path}/Merriweather-300italic/Merriweather-300italic.woff2') format('woff2'),
       url('#{$font-path}/Merriweather-300italic/Merriweather-300italic.woff') format('woff'),
       url('#{$font-path}/Merriweather-300italic/Merriweather-300italic.ttf') format('truetype'),
       url('#{$font-path}/Merriweather-300italic/Merriweather-300italic.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: italic;
  src: url('#{$font-path}/Merriweather-italic/Merriweather-italic.eot');
  src: url('#{$font-path}/Merriweather-italic/Merriweather-italic.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Italic'),
       local('Merriweather-italic'),
       url('#{$font-path}/Merriweather-italic/Merriweather-italic.woff2') format('woff2'),
       url('#{$font-path}/Merriweather-italic/Merriweather-italic.woff') format('woff'),
       url('#{$font-path}/Merriweather-italic/Merriweather-italic.ttf') format('truetype'),
       url('#{$font-path}/Merriweather-italic/Merriweather-italic.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: italic;
  src: url('#{$font-path}/Merriweather-700italic/Merriweather-700italic.eot');
  src: url('#{$font-path}/Merriweather-700italic/Merriweather-700italic.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Bold Italic'),
       local('Merriweather-700italic'),
       url('#{$font-path}/Merriweather-700italic/Merriweather-700italic.woff2') format('woff2'),
       url('#{$font-path}/Merriweather-700italic/Merriweather-700italic.woff') format('woff'),
       url('#{$font-path}/Merriweather-700italic/Merriweather-700italic.ttf') format('truetype'),
       url('#{$font-path}/Merriweather-700italic/Merriweather-700italic.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 900;
  font-style: italic;
  src: url('#{$font-path}/Merriweather-900italic/Merriweather-900italic.eot');
  src: url('#{$font-path}/Merriweather-900italic/Merriweather-900italic.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Black Italic'),
       local('Merriweather-900italic'),
       url('#{$font-path}/Merriweather-900italic/Merriweather-900italic.woff2') format('woff2'),
       url('#{$font-path}/Merriweather-900italic/Merriweather-900italic.woff') format('woff'),
       url('#{$font-path}/Merriweather-900italic/Merriweather-900italic.ttf') format('truetype'),
       url('#{$font-path}/Merriweather-900italic/Merriweather-900italic.svg#Merriweather') format('svg');
}

